#header {
  width: 100%;
  position: fixed;
  background-color: var(--c4);
  z-index: 1000;
  box-shadow: 0 1px 10px -5px black;
  display: grid;
}

#header > div#icon {
  background: url('./sombrero.png');
  height: 80%;
  width: 100px;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  top: 10px;
}

#header > div {
  margin: auto;
}

#header > div > button {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 30px 20px;
  cursor: pointer;
  outline: none;
}

#header > div > button.active,
#header > div > button:hover {
  background-color: var(--c2);
  color: var(--c4);
}

#header + * {
  padding-top: 80px;
}

#header + div {
  height: calc(100% - 80px);
}
